@font-face {
    font-family: 'Menlo';
    /* основной текст */
    src: url('./fonts/Menlo-Regular.ttf');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7fbfc;
    font-family: 'Menlo', serif;
}
button{
    font-family: 'Menlo', serif;
    border-width: 0px;
}

a {
    text-decoration: none;
    color: #181b20;
}

ol,
ul {
    list-style: none;
}

footer {
    background-color: #ffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer__container {
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
}

/*   Авторизация  */

.form {
    padding: 2% 20%;
    margin-top: 6%;
}

.form__container {
    padding: 4% 0 4% 0;
    margin: 4% 0;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(20 29 61 / 15%), -2px -2px 5px rgb(20 29 61 / 15%);
}

.form__title {
    font-size: 36px;
    padding-bottom: 30px;
    color: #181b20;
}

.form__lable {
    font-size: 22px;
}

.form__btn {
    background-color: #524abb;
    border: 2px solid #524abb;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Menlo', serif;
    padding: 15px 70px;
    transition: all 0.5s;
    margin: 20px 0 20px 0;
    color: #f7fbfc;
}

.form__btn:hover {
    cursor: pointer;
    font-family: 'Menlo', serif;
    border: 2px solid #524abb;
    color: #181b20;
    background-color: #524abb9b;
}
.footer__link{
    text-decoration: underline;
    color: #524abb;
}

/*  dashboard   */
.header__logo {
    margin-bottom: 30px ;
    width: 90%;

}

.header__container {
    background-color: #ffff;
    height: 100%;
    width: 330px;
    position: fixed;
    padding: 30px 50px;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 0 10px 10px 0;
    overflow-x: hidden;
    box-shadow: 2px 2px 5px rgb(20 29 61 / 15%), -2px -2px 5px rgb(20 29 61 / 15%);
}

.sidenav {
    display: flex;
    flex-flow: column;
    text-align: center;
    padding-top: 10%;
}

.nav__link {
    color: #747272;
    padding: 7% 10%;
    font-size: 22px;
    text-align: left;
}

.sidenav__settings {
    margin-top: 50%;
    text-align: left;
}

.nlink {
    margin-top: 185%;
}

.active {
    color: #f7fbfc;
    background-color: #524abbd7;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(20 29 61 / 15%);
}
.main {
    margin-left: 370px;
    margin-right: 25px;
    padding: 25px;
    align-items: center;
}

.main__data {
    font-size: 20px;
}

.login__items {
    font-size: 20px;
    padding-left: 13px;
    color: #181b20;
    background: none;
}

.login__items:hover {
    color: #524abb;
    transition: all 0.5s;
}

.main__container {
    display: flex;
    justify-content: space-between;
}

.main__login {
    display: flex;
    justify-content: space-between;
}

/* task section */
.section__container{
    max-height: 45vh
}
.tasks__title-dash{
    margin-top: 20px;
    color: #524abb;
    font-size: 26px;
}
.section__tasks {
    margin-top: 30px;
    max-width: 63%;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}

.section__container {
    display: flex;
    justify-content: space-between;
}

.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks__title {
    color: #524abb;
    font-size: 22px;
}
.task__title{
    font-size: 18px;
}

.tasks__title a {
    color: #524abb;
}

.tasks__cotainer {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.task__items-dash{
    width: 60%;
}
.task__links {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.link__text {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #aaaeb1;
    font-weight: normal;
}

.link__text a {
    color: #aaaeb1;
}

span {
    color: rgba(180, 17, 17, 0.721);
}

.task__links>a {
    color: #181b20;
}

/* месяцы и годы */
#month-calendar {
    width: 40%;
}

.month {
    margin: 0;
    padding: 15px;
    background: #fbfcff;
    text-align: center;
    width: 100%;
    color: #181b20;
    list-style: none;
    border-radius: 10px 10px 0 0;
}

.month li {
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 23px;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.month li.prev,
.month li.next {
    cursor: pointer;
    font-size: 23px;
    margin-top: 15px;
}

.month li.prev {
    float: left;
}

.month li.next {
    float: right;
}

.month li.year-name {
    font-size: 1.3rem;
    font-weight: 400;
}

/* дни недели */

.weekdays li {
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
}

/* дни */
.days {
    margin: 0;
    padding: 5px;
    background-color: #fbfcff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    border-radius: 0 0 10px 10px;
}

.days li {
    padding: 10px;
    list-style: none;
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    color: #181b20;
    font-size: 1.2rem;
    line-height: 1rem;
}

.days li.date-now {
    color: #524abb;
    font-weight: 700;
}

.dash-client__container {
    width: 34%;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 15px;
    height: 84vh;
    padding: 25px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}
.dash-client__title{
    font-size: 22px;
    color: #524abb;
    padding-bottom: 20px;
}
.dash-client__list{
    margin-top: 15px;
}
.client-list__content {
    display: flex;
}
.dash-client__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.client-list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-bottom: 30px;
}
.client-list__tel{
    margin-top: 5px;
    color: #747272;
    font-size: 15px;
}

/* графики */
.section__graphics {
    margin-top: 30px;
    max-width: 63%;
}

.graphics__container {
    display: flex;
}

.finance {
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}
.finance a {
    color: #524abb;
}
.finance-graphic__design{
    width: 100%;
}
.finance__title-dash {
    color: #524abb;
    font-size: 22px;
    margin-bottom: 20px;
   
}
.applic-graphics__design {
    display: block;
    box-sizing: border-box;
    width: 162%;    
}

.applications {
    background-color: #fff;
    border-radius: 15px;
    margin-left: 30px;
    padding: 25px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}

.applications a {
    color: #524abb;
}

.applications__title {
    color: #524abb;
    font-size: 22px;
    margin-bottom: 20px;
}

/* ЗАДАЧИ */
.task__section {
    margin: 30px 0px;
    align-items: center;
}

.title__container-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__btn {
    background-color: #524abb;
    border: 2px solid #524abb;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Menlo', serif;
    padding: 10px 20px;
    transition: all 0.5s;
    color: #f7fbfc;
}

.task__btn:hover {
    cursor: pointer;
    font-family: 'Menlo', serif;
    border: 2px solid #524abb;
    color: #181b20;
    background-color: #524abb9b;
}

.task__btn>a {
    color: #fff;
}

.task-items__container {
    display: flex;
    flex-wrap: wrap;
}

.task__items {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 24%;
    margin-right: 18px;
    margin-top: 25px;
}

.red-border {
    border: 1px solid #c5544d;
}

.orange-border {
    border: 1px solid orange;
}

.green-border {
    border: 1px solid #4a9542;
}

.task__items:nth-child(4n+4) {
    margin-right: 0;
}

.item__text {
    margin: 15px 0;
    word-wrap: break-word;
}

.item__title {
    color: #524abb;
}

.button__text {
    font-size: 20px;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    position: relative;
    height: 20px;
    background: #fff;
    border: 2px solid #524abb;
    border-radius: 5px;
    vertical-align: sub;
    margin-left: 50px;
}

.fa-trash-can {
    font-size: 18px;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("./images/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}


.add-task__section {
    margin-top: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    align-items: center;

}

.add-task__container {
    margin-top: 30px;
    padding-left: 10px;
}

.add-task__container input, select {
    margin: 20px 0;
    padding: 10px;
    width: 500px;
    font-size: 18px;
    font-family: 'Menlo', serif;
    border: 1px solid #3d42494c;
    border-radius: 10px;
    outline: none;
    resize: none;
}

.task-form__label {
    font-size: 18px;
}

.task-form__input:focus {
    outline: 1px solid #524abb;
    border-radius: 10px;
}

.add-task__title {
    color: #524abb;
    font-size: 24px;
    padding: 10px;
}

.add-task__title>a {
    color: #524abb;
}

.add-task__btn {
    background-color: #524abb;
    border: 2px solid #524abb;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Menlo', serif;
    padding: 15px 25px;
    transition: all 0.5s;
    color: #f7fbfc;
    margin-bottom: 10px;
}

.add-task__btn>a {
    color: #fff;
}

.add-task__btn:hover {
    cursor: pointer;
    font-family: 'Menlo', serif;
    border: 2px solid #524abb;
    color: #181b20;
    background-color: #524abb9b;
}

/* Клиенты */
.client-title__container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client__title {
    color: #524abb;
    font-size: 26px;
}

.client-filter__container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.client__filter {
    background: #524abb;
    padding: 10px 20px;
    border: 1px solid #524abb;
    border-radius: 15px;
    max-width: 15%;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-right: 20px;
    transition: all  0.5s;
}

.client__filter:hover {
    cursor: pointer;
    font-family: 'Menlo', serif;
    border: 1px solid #524abb;
    color: white;
    background-color: #524abb9b;
}

.client__btn {
    background-color: #524abb;
    border: 2px solid #524abb;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Menlo', serif;
    padding: 10px 20px;
    transition: all 0.5s;
    color: #f7fbfc;
}

.client__btn:hover {
    cursor: pointer;
    font-family: 'Menlo', serif;
    border: 2px solid #524abb;
    color: #181b20;
    background-color: #524abb9b;
}

.client__btn>a {
    color: #fff;
}

.search-box {
    width: 300px;
    background: #524abbc7;
    height: 40px;
    margin-top: 10px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.search-box:hover>.search-txt {
    width: 260px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
    color: #524abb;
}

.search-btn {
    color: #eeeeee;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #524abb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.search-btn>i {
    font-size: 20px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
    font-weight: bold;
}
.search-txt::placeholder {
    color: white;
}
.client-table__container{
    background-color: #fff;
    margin-top: 30px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}
.client__table{
    width: 100%;
    text-align: left; 
}
.client__table>thead{
    background-color: #f7fbfc;
}
.client-table__title{
    padding: 10px;
}
.client-table__content{
    padding: 20px 10px;
}
.add-client__section{
    margin-top: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    align-items: center;
}
.add-client__title{
    color: #524abb;
    font-size: 24px;
    padding: 10px;
}
.add-client__title>a{
    color: #524abb;
}
.add-client__container {
    margin-top: 30px;
    padding-left: 10px;
}

.client-form__input, input, select {
    margin: 20px 0;
    padding: 10px;
    width: 500px;
    font-size: 16px;
    font-family: 'Menlo', serif;
    border: 1px solid #3d42494c;
    border-radius: 10px;
    outline: none;
    resize: none;
}

.client-form__label {
    font-size: 18px;
}

.client-form__input:focus {
    outline: 1px solid #524abb;
    border-radius: 10px;
}

.add-client__btn {
    background-color: #524abb;
    border: 2px solid #524abb;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Menlo', serif;
    padding: 10px 30px;
    transition: all 0.5s;
    color: #f7fbfc;
    margin: 20px 0;
}

.add-client__btn>a {
    color: #fff;
}

.add-client__btn:hover {
    cursor: pointer;
    font-family: 'Menlo', serif;
    border: 2px solid #524abb;
    color: #181b20;
    background-color: #524abb9b;
}
.client-table__link{
    color: #181b20;
}
/* Финансы */
.finance__section{
    margin-top: 30px;
}
.finance__container{
    display: flex;
    justify-content: space-between;
}
.finance-table__container{
    background-color: #fff;
    padding: 25px;
    width: 50%;
    height: 56vh;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}
.finance__table{
    width: 100%;
}
.finance__table>thead{
    background-color: #f7fbfc;
}
.finance-table__title{
    padding: 10px;
    text-align: left;
}
.finance-table__content{
    padding: 20px 10px;
}
.indicators__container{
    display: flex;
    justify-content: space-between;
    width: 48%;
    height: 35vh;
}
.indicators-title__container{
    display: flex;
    justify-content: space-between;
}
.finace-indicators{
    background-color: #fff;
    padding: 25px;
    width: 48%;
    height: 40%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}
.indicators__content{
    font-size: 30px;
    padding-top: 20px;
}
.indicators__title{
    font-size: 20px;
}
.finance__span{
    color: #4a9542;
}
.finance__ikon{
    font-size: 22px;
}
.finance-graphics__container{
    display: flex;
    position: absolute;
    right: 0;
    top: 28%;
    margin:20px 48px 20px 20px;
    width: 37%;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.038), -2px -2px 5px rgba(20, 29, 61, 0.038);
}
.graphic-design{
    width: 400%;   
}
.finance__title-graphics{
    color: #524abb;
    font-size: 22px;
}
.finance__title{
    color: #524abb;
    font-size: 26px;
    margin-bottom: 30px;
}


.form__content input {
    margin: 10px 0 20px 0;
    padding: 20px 50px 20px 20px;
    font-size: 18px;
    font-family: 'Menlo', serif;
    border: 1px solid #3d42494c;
    border-radius: 10px;
    width: 100%;
    outline: none;
}

.form__content input:focus {
    outline: 1px solid #524abb;
    border-radius: 10px;
}

.no-tasks {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    margin-top: 25px;
}

.no-tasks p {
    font-size: 46px;
    color: #a8a7a7;
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar::after {
    content: attr(data-initial);
    font-weight: bold;
}
.rounded-circle {
    border-radius: 50% !important;
}
.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-title {
    margin-top: 30px;
    color: #524abb;
    margin-bottom: 30px;
}
.setting_avatar {
    width: 100px;
    height: 100px;
    font-size: 36px;
    margin-bottom: 30px;
}