{% extends 'base.html' %}

{% load static %}

{% block title %}
Рабочий стол
{% endblock %}

{% block dash_active %}
active
{% endblock %}

{% block date %} {{ now|date:"l, d E"  }} {% endblock %}

{% block main %}

        <h3 class="tasks__title-dash">Дэшборд</h3>
        <div class="section__container">

            <div class="section__tasks">
                <div class="title__container">
                    <h3 class="tasks__title">Задачи на сегодня</h3>
                    <p class="task__title">Выполнено 5 из 10</p>
                </div>
                <div class="tasks__cotainer">
                    <div class="task__items-dash">
                        <ul class="task__list">
                            <li class="task__links">
                                <a href="tasks.html"> Приготовить покушать
                                    <p class="link__text">Описание задачи <span> Удалить <i
                                                class="fa-solid fa-arrow-right"></i></span></p>
                                </a>
                            </li>
                            <li class="task__links"> <a href="tasks.html">Убраться
                                    <p class="link__text">Описание задачи <span> Удалить <i
                                                class="fa-solid fa-arrow-right"></i></span></p>
                                </a>
                            </li>
                            <li class="task__links"> <a href="tasks.html">Сходить в мгазин
                                    <p class="link__text">Описание задачи <span> Удалить <i
                                                class="fa-solid fa-arrow-right"></i></span></p>
                                </a>
                            </li>
                            <li class="task__links"> <a href="tasks.html">Сходить в мгазин
                                    <p class="link__text">Описание задачи <span> Удалить <i
                                                class="fa-solid fa-arrow-right"></i></span></p>
                                </a>
                            </li>

                        </ul>

                    </div>
                    <div id="month-calendar">
                        <ul class="month">
                            <li class="prev"><i class="fas fa-angle-double-left"></i></li>
                            <li class="next"><i class="fas fa-angle-double-right"></i></li>
                            <li class="month-name"></li>
                            <li class="year-name"></li>
                        </ul>

                        <ul class="days">
                        </ul>
                    </div>

                </div>

            </div>
            <div class="dash-client__container">
                <h3 class="dash-client__title">Топ клиентов</h3>
                <ul class="dash-client__list">
                    <li class="client-list__item">
                        <div class="client-list__content">
                            <div>
                                <img class="dash-client__avatar" src="./images/avatar.png" alt="avatar">
                            </div>
                            <div>
                                Настя
                                <p class="client-list__tel">+7982645761</p>
                            </div>
                        </div>
                        <div class="client-list__money">
                            <span class="finance__span">+ 10.000₽</span>
                        </div>

                    </li>
                    <li class="client-list__item">
                        <div class="client-list__content">
                            <div>
                                <img class="dash-client__avatar" src="./images/avatar.png" alt="avatar">
                            </div>
                            <div>
                                Настя
                                <p class="client-list__tel">+7982645761</p>
                            </div>
                        </div>
                        <div class="client-list__money">
                            <span class="finance__span">+ 10.000₽</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="section__graphics">
            <div class="graphics__container">
                <div class="finance">
                    <h3 class="finance__title-dash">Доходы</h3>
                    <div class="finance__graphic">
                        <canvas class="finance-graphic__design" id="oilChart"></canvas>
                    </div>

                </div>

                <div class="applications">
                    <h3 class="applications__title">Заявки</h3>
                    <div class="applications__graphic">
                        <canvas class="applic-graphics__design" id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/graphic.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}