{% extends 'base.html' %}

{% block title %}
Добавить клиента
{% endblock %}

{% block clients_active %}
active
{% endblock %}

{% block date %} {{ now|date:"l, d E" }} {% endblock %}

{% block main %}

<div class="add-client__section">
    <h3 class="add-client__title"><a href="{% url 'clients' %}"><i class="fa-solid fa-arrow-left" style="color: #524abb;"></i>
            Добавление нового клиента</a></h3>
    
    <div class="add-client__container">
        <form method="post">
            {% csrf_token %}
            
            <label class="client-form__label" for="{{ form.name.id_for_label }}">Введите имя клиента:</label><br>
            {{ form.name }} <br>

            <label class="client-form__label" for="{{ form.phone.id_for_label }}"><span>* </span> Введите номер клиента:</label><br>
            {{ form.phone }} <br>

            <label class="client-form__label" for="{{ form.email.id_for_label }}">Введите почту клиента:</label><br>
            {{ form.email }} <br>

            
            <button class="add-client__btn">Добавить</button>
        </form>
        <form action="#">
        </form>
    </div>
</div>
{% endblock %}
