{% extends 'base.html' %}

{% block title %}
Клиенты
{% endblock %}

{% block clients_active %}
active
{% endblock %}

{% block date %} {{ now|date:"l, d E"  }} {% endblock %}

{% block main %}
<div class="client-title__container">
    <h3 class="client__title">Клиенты</h3>
    <form method="get" action="{% url 'search_clients' %}" class="search-box">
        <input type="text" name="q" class="search-txt" placeholder="Поиск" />
        <button class="search-btn">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
    <button class="client__btn"><a href="{% url 'add_client' %}">Добавить клиента</a></button>
</div>

<div class="client-table__container">

    {% if object_list %}
    <table class="client__table">
        <thead>
            <tr>
                <th class="client-table__title">ID</th>
                <th class="client-table__title">Имя</th>
                <th class="client-table__title">Телефон</th>
                <th class="client-table__title">Почта</th>
                <th class="client-table__title">Дата создания</th>
            </tr>
        </thead>
        <tbody>
                {% for client in object_list %}
                    <tr>
                        <td class="client-table__content">{{ client.id }}</td>
                        <td class="client-table__content"><a href="{% url 'edit_client' client.id %}">{{ client.name }}</a></td>
                        <td class="client-table__content"><a href="{% url 'edit_client' client.id %}">{{ client.phone }}</a></td>
                        <td class="client-table__content"><a href="{% url 'edit_client' client.id %}">{{ client.email }}</a></td>
                        <td class="client-table__content"><a href="{% url 'edit_client' client.id %}">{{ client.created_at }}</a></td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="no-tasks">
            <p>У вас еще нет клиентов</p>
        </div>
    {% endif %}
</div>

{% if object_list %}
<nav aria-label="...">

<ul class="pagination pagination-lg">

    {% if page_obj.has_previous %}
        <li class="page-item" aria-current="page">
           <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
        </li>
      {% endif %}

    {% for n in page_obj.paginator.page_range %}
        {% if n > page_obj.number|add:-4 and n < page_obj.number|add:4 %}
            <li class="page-item {% if n == page_obj.number %}pag_active{% endif %}">
                <a class="page-link" href="?page={{ n }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ n }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
        </li>
    {% endif %}

</ul>

</nav>
{% endif %}

{% endblock %}